html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;
}

.current {
  color: white;
  background-color: mediumSeaGreen;
}
nav ul {
  overflow: auto;
}
nav ul li {
  display: block;
  float: left;
  padding: 20px;
}
nav ul li a {
  text-decoration: underline;
  color: mediumSeaGreen;
}

footer {
  font-family: 'courier new';
}
h1 {
  font-family: 'courier new';
}
body {
  max-width: 750px;
  padding: 25px;
  margin: 0 auto;
}
