html {
  margin: 0;
  padding: 0;
}

.current {
  background-color: mediumSeaGreen;
  color: white;
  font-weight: bold;
}
nav {
}
header {
  /*box-shadow: 0 8px 6px -8px black;*/
  border-bottom: solid lightGray 1px;
}
nav ul {
  overflow: auto;
  padding: 0;
}
nav ul li {
  display: block;
  float: left;
  padding-right: 20px;
}
nav ul li a {
  text-decoration: underline;
  color: mediumSeaGreen;
  display: block;
  padding: 10px;
}
nav ul li a:hover {
	background-color: mediumSeaGreen;
  color: white;
  display: block;
}
footer {
  font-family: 'courier new';
}
h1 {
  font-family: 'verdana';
  font-weight: 400;
  color: #2f2f2f;
}
h2 {
  color: #2f2f2f;
  font-weight: 400;
  font-family: 'verdana';
}
body {
  max-width: 800px;
  padding: 25px;
  margin: 0 auto;
}

p {
  font-family: 'Lora', serif;
  font-size: 19px;
  color: #585858;
  text-indent: 30px;
  text-align: justify;
	transition: 0.3s;
}
.news-list li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  line-height: 20px;
  border-radius: 10px; /* 5px rounded corners */
  margin-bottom: 20px;
}
.news-list {
  list-style: none;
}

.news-list p {
  text-indent: 20px;
  color: #585858;
  font-family: 'Lora', serif;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.news-list a {
  color: #2f2f2f;
  font-family: sans;
  font-size: 20px;
}
.news-list a:visited {
  color: #484848;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.site-title {
}
.initial-name {
  color: white;
  background-color: black;
  font-size: 32px;
  font-family: serif;
  font-weight: 900;
  padding: 5px 10px;
  text-decoration: underline;
}

.then-name {
  padding-left: 10px;
}
